.painting {
  /*padding:5px;
  background: gray;*/
  width: 100%;
  height: auto;
  box-shadow: 0 3px 2px #777;
}

.background {
  /*background-color: #333;*/
  /*background-image: url(../img/ui/bg.jpg);*/
}

.img-scroll {
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.painter-name {
  line-height: 1.1;
  width: 96px;
  height: 28px;
  font-weight: normal;
}

.painter-years  {
  font-size: 12px
  font-weight: 100;
}

.painter-button  {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.quest {
  box-shadow: 0 1px 1px #777;
}
