.painting {
  /*padding:5px;
  background: gray;*/
  min-height: 70%;
  max-height: 90%;

  min-width: 100%;
  max-width: 140%;

  /*width: 100%;*/
  /*height: auto;*/
  box-shadow: 0 3px 2px #777;
}

.background {
  background-image: url(../img/backgrounds/tumblr_me1kxywkHH1rzwyyso1_500.png);
  background-size: cover;
}

.img-scroll {
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.img-gray {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
   /*filter:hue-rotate(90deg);*/

}

.painter-name {
  line-height: 1.1;
  width: 104px;
  /*height: 28px;*/
  font-weight: normal;
  overflow-x: hidden;
}

.painter-years  {
  font-size: 12px
  font-weight: 100;
}

.painter-button  {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.painter-button:hover {
  /*background-color: #EEE;*/
}

.quest {
  /*box-shadow: 0 1px 1px #777;*/
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 120px;
}

.new-quest {
  /*background-image: url(../img/animations/tumblr_ojsk8iRcSX1tgo015o3_500.gif);
  background-size: cover;*/
}


.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}

.text-dark {
  color: #333;
}

.text-goodPhrase {
  margin-top: 15%;
}

.swal2-title {
  margin-bottom: 0!important;
}

.fixed-bottom {
  z-index: 100!important;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
