.painting {
  /*padding:5px;
  background: gray;*/
  width: 100%;
  height: auto;
  box-shadow: 0 3px 2px #777;
}

.background {
  /*background-color: #333;*/
  /*background-image: url(../img/ui/bg.jpg);*/
}

.img-scroll {
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}

.painter-name {
  line-height: 1.1; width: 136px; height: 28px
}
